* {
  box-sizing: border-box;
}

body {
    margin: 0;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

/* -----------------------------        Navigation bar      ----------------------------------*/

.nav {
    z-index: 1;
    position: sticky;
    top:0;

    width: 100%;

    display: flex;
    flex-direction: column;
}

/* For the navigaiton buttons */
.buttons {
    background-color: rgb(222, 222,222);

    width: 100%;
    padding: 0.5%;

    text-align: center;
}

.nav-button {
    margin-left: 3%;
    margin-right: 3%;
    

    font-weight: bold;
    font-size: 160%;
    text-decoration: none;
    color: black;    

    transition: 0.3s;
}

/* Makes the buttons underline when hovered over */
.nav-button:hover {
    text-decoration: underline;
}


.nav-button-underline {
    margin-left: 3%;
    margin-right: 3%;

    font-weight: bold;
    font-size: 160%;
    text-decoration: underline;
    color: black;    
}

.nav-button-center {
    margin-left: 6vw;
    margin-right: 6vw;


    font-weight: bold;
    font-size: 280%;
    text-decoration: none;
    color: black;

    transition: 0.3s;
}

.nav-button-center:hover {
    text-decoration: underline;
}

.nav-center-underline {
    margin-left: 6vw;
    margin-right: 6vw;

    font-weight: bold;
    font-size: 280%;;
    color: black;
}


/* Styles the blue bar on the bottom of the navigation */
.nav-blue {
    width: 100%;
    height: 9px;

    background-color: rgb(179,197,229);
    font-size: 0;
}

.nav-blue p {
    margin:0;
}

/* -----------------------------      Home page      ----------------------------------*/

h3 {
    font-size: 150%;
    font-weight: normal;
}

/* Styles the title text of the home page */
.intro-text {
    margin-top: 200px;
    text-align: center;
}

.intro-header {
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;

    font-size: 11vw;
}

.text-deco {
    display: flex;
    justify-content: center;

    height: 4vw;
}

.down-arrow-one {
    display: flex;
    justify-content: center;

    height: 20px;
    margin-top: 250px;
    margin-bottom: 40px;
}

/* Styles the images on the home page */
.home-center-images {
    display: flex;
    justify-content: center;
}

.home-center-images img {
    margin: 2vw;
    margin-bottom: 1vw;
    height: 30vw;
}

/* Styles the resume element */
.resume {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 100%;
}

.resume img {
    height: 40vw;
}

/* Styles the footer */
.footer {
    display: flex;
    background-color: rgb(222, 222,222);

    align-items: center;
}

.footer h2 {
    align-self: center;
    text-align: center;

    margin-left: 6vw;
    margin-right: 6vw;
}

.footer h3{
    font-size: 20px;
}

.footer-left {
    flex: 1;
    
    text-align: right;
}

.footer-cent {
    flex: 0.4vw;
    text-align: center;

    margin-left: 4vw;
    margin-right: 4vw;

    font-size: 20px;
}

.footer-right {
    flex: 1;

    text-align: left;
}

/* -----------------------------        Programme page      ----------------------------------*/

/* Styles the footer */
.main-title {
    background-image: url(/portfolio-website/photos/programme-deco.png);
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    margin: 8%;
    height: 300px;
}

.main-title h3 {
    margin: 1vw;
}

/* Styles the content in the programme and website pages */
.div-content-a {
    display: flex;
    justify-content: center;
    background-color: rgb(222,222,222);
    
    padding: 1%;
    margin: 200px auto;
    width: 75%;
    height: 7%;
}

.div-content-b {
    padding: 3%;
    width: 40%;
}

.div-content-b p {
    background-color: rgb(179,197,229);
    
    width: 80%;
    height: 9px;

    font-size: 0;
}

.main-content-images {
    height: 550px;
}


.div-content-c {
    display: flex;

    width: 100%;
    height: 50px;
}

.div-content-c img {
    margin-left: auto;
}

.download-button {
    color: blue;
    text-decoration: underline;
}


/* -----------------------------        website page      ----------------------------------*/

/* Styles the title of the website page */
.page-two-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-bottom: 0;
}

.page-two-title h2 {
    margin-top: 150px;
    margin-bottom: 0px;

    font-size: 260%;
}

.page-two-deco {
    margin-bottom: 75px;
    height: 20px;
}

.websites-title-image {
    height: 550px;
}


/* -----------------------------        Clay page      ----------------------------------*/

/* Styles the title of the clay page */
.clay-title-one { 
    background-image: url(/portfolio-website/photos/clay-colours.png);
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 500px;
    margin-top: 200px;

    font-size: 200%;
}

.clay-title-one h1 {
    z-index: 0;
    position: relative;

    filter: drop-shadow(0px 10px 8px rgba(30,30,30,0.6));
}

.clay-title-two {
    margin-top: 100px;
    margin-bottom: 100px;

    text-align: center;
}

/* Styles the image groups on the clay page */
.clay-image-group{
    display: flex;
    justify-content: center;

    margin: 3%; 
}

.clay-images {
    margin-left: 2%;
    margin-right: 2%;   
}

.clay-images img {
    height: 500px;
}


/* -----------------------------        About page      ----------------------------------*/

/* Determines the layout of the about page content */
.about-main-div{
    display: flex;
    justify-content: center;

    height: 600px;
    margin-top: 200px;
}

/* Styles the picture on the about page */
.about-main-image img {
    height: 500px;
}

/* Styles the text on the about page */
.about-info-div {
    width: 30%;
    margin-left: 10%;
}


/* -----------------------------        "Responsive" CSS      ----------------------------------*/

/* Re-styles the content on the clay page when the window is at or below a width of 1885px */
@media (max-width: 1885px) {
    .clay-title-one {
        margin-top: 10.5vw;
    }

    .clay-images img {
        height: 26.5vw;
    }
}

/* Re-styles the content on the programme and website page when the window is at or below a width of 1295px */
@media (max-width: 1295px) {
    .main-content-images {
        height: auto;
    }

    .div-content-a {
        flex-direction: column;
    }

    .div-content-b {
        width: 100%;
    }
}


@media (max-width: 1200px) {
    /* Re-styles the nav bar when the window is at or below a width of 1200px */
    .nav-button {
        margin-left: 2vw;
        margin-right: 2vw;

        font-size: 2.4vw;
    }

    .nav-button-underline {
        margin-left: 2vw;
        margin-right: 2vw;

        font-size: 2.4vw;
    }

    .nav-button-center {
        margin-left: 4vw;
        margin-right: 4vw;

        font-size: 3.6vw;
    }

    .nav-center-underline {
        margin-left: 4vw;
        margin-right: 4vw;

        font-size: 3.6vw;
    }

    /* Re-styles the resume when the window is at or below a width of 1200px */
    .resume {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        margin: auto;
        margin-bottom: 2vw;
    }

    .resume img {
        height: 70vw;
    }

    /* Re-styles the website page main title image when the window is at or below a width of 1200px */
    .websites-title-image {
        height: 45vw;
    }

    /* Re-styles the about page when the window is at or below a width of 1200px */
    .about-main-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin-top: 14vw;
    }

    .about-main-image {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
    }

    .about-main-image img {
        height: 50vw;
    }

    .about-info-div {
        width: 60%;
    }

}

@media (max-width: 800px) {
    .intro-text {
        width: 80%;
        margin: auto;
        margin-top: 200px;
        margin-bottom: 10vw;
    }

    .about-main-div{
        flex-direction: column;
    }

    .clay-image-group{
        flex-direction: column;
        
        margin-top: 10px;
        margin-bottom: 0;
    }

    .clay-images {
        margin-top: 10px;
        padding: 0;
    }

    .clay-images img {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .footer h2 {
        font-size: 3.5vw;
    }

    .footer h3{
        font-size: 2.23vw;
    }

    .page-two-deco {
        height: 3vw;
    }
}